body{
    background-color: #393E46;  
}

.container{
    width: 70%; 
    text-align: center;
    margin: auto;
    
}

.dice-container{
    justify-content: center;
    gap: 10rem;
    display: flex;
}

.dice{
    text-align: center;
    display: inline-block;
}

h1{
    color: #4ECCA3;
    font-family: 'Lobster' , cursive;
    font-size: 8rem;
    margin: 30px;
    text-shadow: 5px 0 #232931;

}

p{
    font-family: 'indie flower' ,cursive;
    font-size: 2rem;
    color: #4ECCA3;
}
 img{
    width: 80px;
 }